header {
  text-align: center;
  margin-bottom: 50px;
}
select {
  width: 100%;
}
.row {
  margin-bottom: 20px;
}
button {
  width: 100%;
}
.sketchpad {
  max-width: 960px;
  height: 960px;
  box-sizing: content-box;
}
.block {
  border: 1px solid;
  float: left;
  box-sizing: content-box;
}
footer {
  text-align: center;
  margin-top: 50px;
}
